@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html *{
  font-family: Poppins !important;
}

.nav-title{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.cardLink {
  text-decoration:
}

.navbarScroll.navbarDark {
  background-color: black;
}

.darkmode {
  color: white;
  background: black;
}


/* .bgimage {
  height: 100vh;
  background: url("images/herobackground\ Test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
} */

/* .hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 1.5rem;
} */

/* .tagline-text {
  position: absolute;
  text-align: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

/* .hero-text {
  position: absolute;
  text-align: right;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.bio_text {
  font-size: 1.5rem
}

#about,
#press,
#books,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

.card-body {
  display: grid;
  /* background-color: black; */
}

.btn {
  margin-right: 10px;
}

#contact {
  padding-bottom: 4rem;
}

.imageAboutPage {
  width: 65%;
  margin-left: 5rem;
}

.bookContent.card {
  height: 400px;
}

.skillsText.card {
  height: 310px;
  cursor: pointer;
}

/* .skillsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
} */

.text-center {
  display: flex;
  /* margin: mt-auto; */
  justify-content: center;
  align-items: flex-end;
}

.card-text {
  display: grid;
}

.card-title {
  display: grid;
  text-align: center;
}

/* .card:hover .servicesIcon {
  color: #008000;
} */

/* .skillsText:hover {
  border: 1px solid #008000;
} */

/* .pdx {
  width: 100%;
  height: auto;
} */

/* .social-icons {
  font-size: 36px;
  cursor: pointer;
} */

/* .fa-github:hover,
.fa-linkedin:hover,
.fa-envelope:hover {
  color: #008000;
} */

.fab {
  color: #000000;
}

#footer {
  background-color: #808080;
  text-align: center;
  /* background;black; */
}

/* <- card stuff-> */

/* .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 360px;
  height: 400px;
  background: #000;
} */
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*100%*/
  height: 100%;
  background: rgb(84, 154, 110);
  transition: .75s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
}
.card .details .center ul li a:hover {
  background: #ff3636;
}

/* <- hero slider css-> */
